 /* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Pacifico&family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #ff4081;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    
}

header p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ff4081;
    font-family: 'Pacifico', cursive;
}

.profile-image {
    width: 150px;
    height: auto;
    border-radius: 10%;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills li {
    background-color: #ffe0f0;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: transform 0.3s, background-color 0.3s;
}

#skills li:hover {
    transform: scale(1.1);
    background-color: #ff90b3;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ff4081;
}

#resume a {
    background-color: #ff4081;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

#resume a:hover {
    background-color: #ff90b3;
}

footer {
    background-color: #ff4081;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 1em;
}

